body {
    font-family: Arial, sans-serif;
    background: #f2f2f2;
    padding: 40px;
}

h1 {
    text-align: center;
}

.admin-container {
    background: white;
    padding: 30px;
    border-radius: 15px;
    max-width: 600px;
    margin: auto;
    box-shadow: 0 10px 30px rgba(0,0,0,0.1);
}

label {
    display: block;
    margin-top: 15px;
    font-weight: bold;
}

input, textarea {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

button {
    margin-top: 25px;
    padding: 12px 20px;
    background: #ff6600;
    border: none;
    color: white;
    cursor: pointer;
    border-radius: 8px;
    font-size: 15px;
    width: 100%;
    transition: 0.3s;
}

button:hover {
    background: #e65c00;
}