body {
    font-family: Arial;
    background: #f4f4f4;
    padding: 40px;
}

.admin-container {
    background: white;
    padding: 30px;
    border-radius: 10px;
    max-width: 600px;
}

label {
    display: block;
    margin-top: 15px;
    font-weight: bold;
}

input, textarea {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
}

button {
    margin-top: 20px;
    padding: 10px 20px;
    background: orange;
    border: none;
    color: white;
    cursor: pointer;
}

.preview-box {
    margin-top: 30px;
    background: #f4b183;
    padding: 30px;
    border-radius: 10px;
}

.preview-box img {
    width: 100%;
    max-width: 500px;
}
