body {
    font-family: Arial;
    background: #f2f2f2;
    padding: 40px;
}

.admin-box {
    background: white;
    padding: 30px;
    border-radius: 15px;
    max-width: 600px;
    margin: auto;
    box-shadow: 0 10px 25px rgba(0,0,0,0.1);
}

input, textarea {
    width: 100%;
    margin-bottom: 15px;
    padding: 10px;
}

button {
    background: #ff6600;
    color: white;
    padding: 12px;
    border: none;
    cursor: pointer;
}