body {
    font-family: Arial, sans-serif;
    margin: 0;
    background-color: #f2f2f2;
}

.hero {
    text-align: center;
    padding: 40px 20px;
    background: linear-gradient(135deg, #111, #000000);
    color: white;
}

.content-card {
    width: 85%;
    margin: -30px auto 50px;
    background: white;
    padding: 40px;
    border-radius: 20px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
}

h2 {
    text-align: center;
    margin-bottom: 30px;
}

.info-box {
    background-color: #f4b183;
    padding: 30px;
    border-radius: 10px;
    display: flex;
    gap: 30px;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.info-box .text {
    flex: 3;
}

.tuition {
    background: white;
    padding: 20px;
    border-radius: 15px;
    text-align: center;
    min-width: 180px;
    box-shadow: 0 5px 15px rgb(0, 0, 0);
}

.tuition h3 {
    margin: 5px 0;
    font-size: 28px;
    color: #ff6600;
}

.main-btn {
    margin: 30px auto;
    display: block;
    background-color: #ff6600;
    color: white;
    border: none;
    padding: 15px 30px;
    border-radius: 40px;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
}

.main-btn:hover {
    background-color: #e65c00;
}

.curriculum {
    text-align: center;
    margin-top: 30px;
}

.curriculum img {
    width: 100%;
    max-width: 1000px;
}
