.success-icon { font-size: 50px; color: #4CAF50; margin-bottom: 15px; }
.popup-box { background: white; padding: 40px; border-radius: 20px; text-align: center; width: 90%; max-width: 400px; box-shadow: 0 10px 25px rgba(0,0,0,0.2); }
/* --- ปุ่มสลับหน้าหลักสูตร --- */
.btn-switch {
    background-color: #fffcf9;
    color: #FF6F00;
    border: 1px solid #FF6F00;
    text-decoration: none;
    padding: 8px 15px;
    display: inline-flex;
    align-items: center;
    gap: 8px;
    border-radius: 8px;
    font-weight: 500;
    transition: all 0.2s ease-in-out;
}

/* เอฟเฟกต์ตอนเอาเมาส์ชี้ */
.btn-switch:hover {
    background-color: #FF6F00;
    color: #fff;
    transform: translateY(-2px);
    box-shadow: 0 4px 8px rgba(255, 111, 0, 0.2);
}